version: "3.8"

services:
  backend:
    build: .
    container_name: demoapp-backend
    ports:
      - "3313:3313"
    env_file:
      - .env
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"
